config SENSORS
	bool "Sensors Class Support"
	help
	  This option enables the sensor sysfs class in /sys/class/sensors.
	  You'll need this to do anything useful with sensorss. If unsure, say N.

config SENSORS_SSC
	bool "Enable Sensors Driver Support for SSC"
	help
	  Add support for sensors SSC driver.
	  This driver is used for exercising sensors use case,
	  time syncing with ADSP clock.

config SENSORS_SYSFS
	tristate "Sensors sysfs"
	help
	  Support sysfs for sensors.
          If you say yes here you get sysfs support for
	  sensor factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called sensors_core.

config SENSORS_CM36672P_IRIS
	depends on I2C
	tristate "CM36672P IRIS driver"
	default n
	help
	  This option enables proximity sensor for iris using CM36672P driver.

config SENSORS_SX9320
	depends on I2C
	tristate "SX9320 driver"
	default n
	help
	  Say Y here if you use sx9320.
	  This option enables grip sensors using
	  SemTech sx9320 device driver.
	  Say N here if you do not use sx9320.

config SENSORS_HRMSENSOR
	tristate "HRM Sensor Driver Common"
	default n
	depends on I2C
	help
	  If you say yes here you get support for the HRM sensor.
	  This feature is common feature for supporting HRM sensor.
	  This driver can also be built as a module.  If so, the module
	  will be called hrmsensor.

config SENSORS_HRM_MAX86902
	tristate "HRM Sensor Driver MAX86902"
	default n
	depends on SENSORS_HRMSENSOR
	help
	  If you say yes here you get support for the HRM sensor.
	  This driver should be set with SENSORS_HRMSENSOR.
	  This driver can also be built as a module.  If so, the module
	  will be called max86902.

config SENSORS_HRM_MAX86915
	tristate "HRM Sensor Driver MAX86915"
	default n
	depends on SENSORS_HRMSENSOR
	help
	  If you say yes here you get support for the HRM sensor.
	  This driver should be set with SENSORS_HRMSENSOR.
	  This driver can also be built as a module.  If so, the module
	  will be called max86915.

config SENSORS_MAX86915
	tristate "HRM Sensor Driver MAX86915"
	default n
	depends on I2C
	help
	  If you say yes here you get support for the HRM sensor.
	  This driver should be set with SENSORS_HRMSENSOR.
	  This driver can also be built as a module.  If so, the module
	  will be called max86915.

config SENSORS_HRM_ADPD143
	tristate "HRM Sensor Driver ADPD143"
	default n
	depends on SENSORS_HRMSENSOR
	help
	  If you say yes here you get support for the HRM sensor.
	  This driver should be set with SENSORS_HRMSENSOR.
	  This driver can also be built as a module.  If so, the module
	  will be called adpd143.


config SENSORS_MAX86900
	tristate "MAXIM MAX86900 HRM Sensor"
	default n
	depends on I2C
	help
	  If you say yes here you get support for the MAX86900
	  HRM sensor.
	  This driver can also be built as a module.  If so, the module
	  will be called max86900.

config SENSORS_MAX86902
	tristate "MAXIM MAX86902 HRM & UV Sensor"
	default n
	depends on I2C
	help
	  If you say yes here you get support for the MAX86902
	  HRM & UV sensor.
	  This driver can also be built as a module.	If so, the module
	  will be called max86902.

config SENSORS_MAX86902_LED_5V
	tristate "MAXIM MAX86902 LED 5V"
	default n
	depends on SENSORS_MAX86902
	help
	  If you say yes here you get support for the MAX86902
	  LED power as 5V.
	  This driver can also be built as a module.	  If so, the module
	  will be called max86902.

config SENSORS_HRM_MAX869_ENHANCED_EOL
	bool "MAX869 HRM sensor enhanced eol"
	default n
	help
	  If you want to apply enhanced eol process, it should be set.

config SENSORS_HRM_MAX869_NEW_EOL
	bool "MAX869 HRM sensor new eol"
	default n
	help
	  If you want to apply new eol process, it should be set.

config MAX86902_THRESHOLD
	int "MAX86902 HRM sensor finger detection threshold"
	default 70000
	help
	  If you want to change finger detection threshold, it should be set.
