# sdm845_sec_starqlte_usa_single_defconfig

CONFIG_SEC_STAR2QLTE_PROJECT=y
CONFIG_MACH_STAR2QLTE_SINGLE=y

# Sub PMIC
CONFIG_REGULATOR_S2ABB01=y
CONFIG_REGULATOR_S2DOS03=y
CONFIG_REGULATOR_S2DOS05=y
# CONFIG_REGULATOR_MAX77838 is not set
CONFIG_MFD_S2MPB02=y
CONFIG_REGULATOR_S2MPB02=y
CONFIG_REGULATOR_S2MPB03=y

# gpio expander
CONFIG_GPIO_PCAL6524=y

CONFIG_SWITCH=y

# input device
CONFIG_TOUCHSCREEN_SEC_TS=y

# display
CONFIG_PANEL_S6E3HA6_AMS622MR01_WQHD=y
CONFIG_PANEL_S6E3HA8_AMB622NP01_WQHD=y

# MUIC configs
CONFIG_MFD_CORE=y
CONFIG_USE_MUIC=y
CONFIG_USE_SAFEOUT=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_VBUS_NOTIFIER=y
CONFIG_VBUS_NOTIFIER_WORK=y
CONFIG_MUIC_MAX77705=y
CONFIG_MFD_MAX77705=y
CONFIG_MUIC_MAX77705_CCIC=y
CONFIG_HV_MUIC_MAX77705_AFC=y
CONFIG_MUIC_SUPPORT_CCIC=y
CONFIG_MUIC_UNIVERSAL=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_MFD_SM5720=y
CONFIG_MUIC_UNIVERSAL_SM5720=y
CONFIG_MUIC_HV=y
CONFIG_HICCUP_CHARGER=y

CONFIG_LEDS_SM5720_RGB=y

# BATTERY
CONFIG_CALC_TIME_TO_FULL=y
CONFIG_BATTERY_AGE_FORECAST=y
CONFIG_AFC_CURR_CONTROL_BY_TEMP=y
CONFIG_LIMIT_CHARGING_DURING_CALL=y
CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_CHARGER_SM5720=y
CONFIG_FUELGAUGE_SM5720=y
CONFIG_FUELGAUGE_MAX77705=y
CONFIG_CHARGER_MAX77705=y
CONFIG_WIRELESS_CHARGER_MFC=y
CONFIG_WIRELESS_FIRMWARE_UPDATE=y
CONFIG_BATTERY_CISD=y

#ccic
CONFIG_CCIC_MAX77705=y
# CONFIG_CCIC_S2MM003 is not set
CONFIG_CCIC_S2MM005=y

#displayport
CONFIG_SEC_DISPLAYPORT=y
CONFIG_SEC_DISPLAYPORT_LOGGER=y
CONFIG_SEC_DISPLAYPORT_BIGDATA=y

# BLUETOOTH
CONFIG_BT=y
CONFIG_BT_BCM4361=y
CONFIG_BT_BLUESLEEP=y
CONFIG_RFKILL=y

#motor
CONFIG_MOTOR_DRV_SM5720=y
CONFIG_MOTOR_DRV_MAX77705=y
CONFIG_SS_VIBRATOR=y
CONFIG_BOOST_POWER_SHARE=y

#SVCLED
CONFIG_LEDS_MAX77705_RGB=y

#sensor
CONFIG_SENSORS=y
CONFIG_ADSP_FACTORY=y
CONFIG_LSM6DSL_FACTORY=y
CONFIG_AK09916C_FACTORY=y
CONFIG_LPS22HB_FACTORY=y
CONFIG_TMD490X_FACTORY=y
CONFIG_SUPPORT_TMD4906_FACTORY=y
CONFIG_SUPPORT_PROX_AUTO_CAL=y
CONFIG_SUPPORT_HIDDEN_HOLE=y
CONFIG_SUPPORT_MOBEAM=y
CONFIG_SLPI_MOTOR=y
CONFIG_SENSORS_DELAYED_LOAD=y

#hrm sensor
CONFIG_SENSORS_MAX86915=y

#grip sensor
CONFIG_SENSORS_SX9320=y

# Fingerprint sensor
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_ET5XX=y
CONFIG_SENSORS_FP_SPI_NUMBER=5
CONFIG_SENSORS_FP_SPI_GPIO_START=85
CONFIG_SENSORS_FP_SPI_GPIO_END=88

# NFC ESE
CONFIG_SAMSUNG_NFC=y
CONFIG_NFC_PN547=y
CONFIG_NFC_PN547_ESE_SUPPORT=y
CONFIG_ESE_SECURE=y
CONFIG_ESE_SPI_GPIO_START=27
CONFIG_ESE_SPI_GPIO_END=30
CONFIG_ESE_SPI_NUMBER=2
CONFIG_SEC_NFC_LOGGER=y

# FM radio
CONFIG_MEDIA_RADIO_SUPPORT=y
CONFIG_I2C_RTC6213N=y
CONFIG_RADIO_RTC6213N=y

# Camera
CONFIG_LEDS_S2MPB02=y
#CONFIG_SAMSUNG_OIS_RUMBA_S4=y
CONFIG_SAMSUNG_OIS_RUMBA_S6=y
CONFIG_SAMSUNG_FRONT_EEPROM=y
CONFIG_CAMERA_SYSFS_V2=y
CONFIG_SAMSUNG_SECURE_CAMERA=y
CONFIG_SAMSUNG_MULTI_CAMERA=y
CONFIG_CAMERA_DYNAMIC_MIPI=y
CONFIG_CAMERA_FRS_DRAM_TEST=y
CONFIG_USE_CAMERA_HW_BIG_DATA=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_ZSWAP_MIGRATION_SUPPORT=y
CONFIG_ZSWAP_ENABLE_WRITEBACK=n
CONFIG_ZSWAP_SAME_PAGE_SHARING=n
CONFIG_ZPOOL=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n
CONFIG_RBIN=y

# Linux On Dex
CONFIG_USER_NS=y
CONFIG_POSIX_MQUEUE=y
CONFIG_VETH=y
CONFIG_UTS_NS=y
CONFIG_PID_NS=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_DEVICE=y
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_LOD_SEC=y

# Audio
#CONFIG_SLIMBUS_DEBUG is not set

