CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
# CONFIG_RCU_FAST_NO_HZ is not set
CONFIG_CGROUPS=y
CONFIG_CGROUP_DEBUG=y
CONFIG_CGROUP_SCHED=y
# CONFIG_SCHED_AUTOGROUP is not set
CONFIG_SLUB_DEBUG=y
# CONFIG_BLK_DEV_BSG is not set
# CONFIG_IOSCHED_DEADLINE is not set
CONFIG_CLEANCACHE=y
# CONFIG_ARM64_REG_REBALANCE_ON_CTX_SW is not set
# CONFIG_BALANCE_ANON_FILE_RECLAIM is not set
CONFIG_FORCE_ALLOC_FROM_DMA_ZONE=y
# CONFIG_EFI is not set
CONFIG_CP15_BARRIER_EMULATION=y
CONFIG_SETEND_EMULATION=y
CONFIG_PM_DEBUG=y
CONFIG_CPU_FREQ_STAT=y
# CONFIG_CPU_BOOST is not set
CONFIG_L2TP_DEBUGFS=y
CONFIG_DNS_RESOLVER=y
# CONFIG_CFG80211_CRDA_SUPPORT is not set
CONFIG_PNP_DEBUG_MESSAGES=y
CONFIG_CMA_SIZE_MBYTES=40
CONFIG_CMA_DEBUGFS=y
CONFIG_UID_CPUTIME=y
# CONFIG_SKY2 is not set
# CONFIG_SMSC911X is not set
CONFIG_PHYLIB=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_INPUT_KEYCHORD=y
CONFIG_INPUT_GPIO=y
# CONFIG_FB_ARMCLCD is not set
CONFIG_FB_VIRTUAL=y
# CONFIG_MMC_PARANOID_SD_INIT is not set
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_EDAC=y
CONFIG_EDAC_MM_EDAC=y
CONFIG_EDAC_CORTEX_ARM64=y
CONFIG_EDAC_CORTEX_ARM64_PANIC_ON_CE=y
CONFIG_EDAC_CORTEX_ARM64_PANIC_ON_UE=y
CONFIG_EDAC_KRYO3XX_ARM64=y
CONFIG_EDAC_KRYO3XX_ARM64_PANIC_ON_UE=y
# CONFIG_EDAC_QCOM_LLCC is not set
# CONFIG_EDAC_QCOM_LLCC_PANIC_ON_CE is not set
# CONFIG_EDAC_QCOM_LLCC_PANIC_ON_UE is not set

# CONFIG_IOMMU_IO_PGTABLE_FAST_SELFTEST is not set
CONFIG_IOMMU_DEBUG=y
CONFIG_IOMMU_DEBUG_TRACKING=y
CONFIG_IOMMU_TESTS=y
CONFIG_QCOM_COMMON_LOG=y
CONFIG_MSM_SMD_DEBUG=y
CONFIG_MSM_SERVICE_LOCATOR=y
CONFIG_QCOM_DCC=y
CONFIG_MSM_GLADIATOR_ERP_V2=y
CONFIG_PANIC_ON_GLADIATOR_ERROR_V2=y
CONFIG_MSM_GLADIATOR_HANG_DETECT=y
CONFIG_MSM_CORE_HANG_DETECT=y
CONFIG_MSM_RUN_QUEUE_STATS=y
CONFIG_QCOM_CPUSS_DUMP=y
CONFIG_MSM_SERVICE_NOTIFIER=y
CONFIG_ARM_GIC_V3_ACL=y
CONFIG_PHY_XGENE=y
CONFIG_MSM_TZ_LOG=y
# CONFIG_EFIVAR_FS is not set
# CONFIG_NETWORK_FILESYSTEMS is not set
CONFIG_DYNAMIC_DEBUG=y
CONFIG_PAGE_OWNER=y
CONFIG_PAGE_OWNER_ENABLE_DEFAULT=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_SLUB_DEBUG_PANIC_ON=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_DEBUG_OBJECTS_WORK=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_EARLY_LOG_SIZE=4000
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_WQ_WATCHDOG=y
CONFIG_PANIC_ON_SCHED_BUG=y
CONFIG_PANIC_ON_RT_THROTTLING=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_LIST=y
CONFIG_FAULT_INJECTION=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_UFS_FAULT_INJECTION=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
CONFIG_QCOM_RTB=y
CONFIG_QCOM_RTB_SEPARATE_CPUS=y
#CONFIG_FUNCTION_TRACER=y
#CONFIG_IRQSOFF_TRACER=y
CONFIG_TRACER_SNAPSHOT=y
#CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_MEMTEST=y
CONFIG_PANIC_ON_DATA_CORRUPTION=y
CONFIG_ARM64_PTDUMP=y
CONFIG_PID_IN_CONTEXTIDR=y
CONFIG_FREE_PAGES_RDONLY=y
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=y
CONFIG_CORESIGHT_SOURCE_ETM4X=y
CONFIG_CORESIGHT_REMOTE_ETM=y
CONFIG_CORESIGHT_REMOTE_ETM_DEFAULT_ENABLE=0
CONFIG_CORESIGHT_QCOM_REPLICATOR=y
CONFIG_CORESIGHT_STM=y
CONFIG_CORESIGHT_HWEVENT=y
CONFIG_CORESIGHT_CTI=y
CONFIG_CORESIGHT_TPDA=y
CONFIG_CORESIGHT_TPDM=y
CONFIG_CORESIGHT_QPDI=y
CONFIG_CORESIGHT_SOURCE_DUMMY=y
CONFIG_XZ_DEC=y
CONFIG_SEC_DEBUG_FORCE_ERROR=y
CONFIG_USER_RESET_DEBUG_TEST=y
CONFIG_SEC_DEBUG_SEC_WDOG_BITE=y
CONFIG_SEC_GPIO_DVS=y
CONFIG_ENG_BATTERY_CONCEPT=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y

# Maxim 77705 USBC Debug
CONFIG_CCIC_MAX77705_DEBUG=y

# ABC Hub bootc eng mode
CONFIG_SEC_ABC_HUB_BOOTC_ENG=y

# Rooting Prevention
# CONFIG_SEC_RESTRICT_ROOTING is not set
# CONFIG_SEC_RESTRICT_SETUID is not set
# CONFIG_SEC_RESTRICT_FORK is not set
# CONFIG_SEC_RESTRICT_ROOTING_LOG is not set
CONFIG_REGMAP_ALLOW_WRITE_DEBUGFS=y
CONFIG_SEC_BSP_PCIE_DEV=y

# Security
# CONFIG_TIMA_LKMAUTH is not set
# CONFIG_TIMA_LKM_BLOCK is not set
# CONFIG_RKP_KDP is not set
# CONFIG_RKP_NS_PROT is not set
# CONFIG_RKP_CFP_TEST is not set

# SDP KeyManagement Test for MDFPP evaluation
CONFIG_SDP_KEY_DUMP=y

CONFIG_VIDEO_ADV_DEBUG=y
CONFIG_DEBUG_TASK_USAGE=y

# MPSD
CONFIG_MPSD_DEBUG=y